<section class="built-for-strip py-5" aria-labelledby="built-for-heading">
  <div class="container">
    <div class="built-for-head">
      <div>
        <p class="built-for-kicker">{{ kicker }}</p>
        <h2 id="built-for-heading" class="built-for-title">{{ heading }}</h2>
        <p class="built-for-subtitle">{{ subheading }}</p>
      </div>
      <a class="built-for-all" routerLink="/search" [queryParams]="searchParams()">
        {{ exploreAllLabel }} <i class="bi bi-arrow-right" aria-hidden="true"></i>
      </a>
    </div>

    <ul class="built-for-grid">
      <li *ngFor="let item of items; let i = index">
        <a class="built-for-card" routerLink="/search" [queryParams]="searchParams(item)">
          <span class="built-for-tile" [ngClass]="'tile-' + tintFor(item, i)">
            <i class="bi" [ngClass]="item.icon" aria-hidden="true"></i>
          </span>
          <h3>{{ item.title }}</h3>
          <p>{{ item.subtitle }}</p>
          <span class="built-for-count">
            <ng-container *ngIf="item.countLabel; else noCount">{{ item.countLabel }} Creators</ng-container>
            <ng-template #noCount>Explore<span class="count-wide"> creators</span></ng-template>
            <i class="bi bi-arrow-right" aria-hidden="true"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
