<app-navbar-layout>

</app-navbar-layout>

<section class="welcome-page d-flex flex-column align-items-center my-5" aria-label="Welcome to TrendStarz">
  <h1 class="mt-5">Welcome to</h1>
  <img src="assets/logo-trendstarz-logo-text.png" alt="TrendStarz Logo" class="" style="max-width: 320px;" loading="eager" width="320" height="auto">
  <!-- <p class="lead mb-4 text-center" itemprop="description">Connecting Influencers &amp; Brands.</p> -->
  <div class="d-flex mt-3 gap-1 justify-content-center">
    <span class="badge rounded-pill bg-light text-dark" itemprop="keywords">Discover</span>
    <span class="badge rounded-pill bg-light text-dark" itemprop="keywords">Collaborate</span>
    <span class="badge rounded-pill bg-light text-dark" itemprop="keywords">Grow Together</span>
  </div>
</section>

<section class="text-center my-4" aria-label="How It Works">
  show users card data of Influencers
</section>

<section class="call-to-action text-center my-4" aria-label="Get Started with TrendStarz">
  <h2>Get Started Today!</h2>
  <p class="lead">Join TrendStarz and elevate your brand or influencer journey.</p>
  <div class="d-flex gap-3 justify-content-center">
    <a routerLink="/register-influencer" class="btn btn-primary btn-lg" role="button">Register as Influencer</a>
    <a routerLink="/register-brand" class="btn btn-secondary btn-lg" role="button">Register as Brand</a>
  </div>
</section>