<nav class="navbar">
  <a routerLink="/" class="logo">TrendStarz</a>
  <ul *ngIf="!user">
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register-influencer">Register as Influencer</a></li>
    <li><a routerLink="/register-brand">Register as Brand</a></li>
  </ul>
  <div class="user-profile" *ngIf="user">
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm" type="button">
        <img [src]="user.profileImage || 'assets/default-profile.png'" class="user-avatar" width="32" height="32" />
        <span>{{ user.name }}</span>
      </button>
      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
        <li><a class="dropdown-item" routerLink="/settings">Settings</a></li>
  <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
