/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #2a0855;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  th{
    font-size: 13px;
    font-weight: normal;
    background-color: #c5c5c5;
  }
}